html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f6f1;
}

a {
  text-decoration: none;
}

.intro {
  background: #fff url("assets/jumping.png") no-repeat left top;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.intro, .intro a {
  color: #FFFFFF;
}

.nav {
  margin-left: 88px;
  margin-top: 24px;
}

.nav .link {
  display: inline;
  font-family: Gotham-Bold, 'Gotham Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-right: 44px;
  text-transform: uppercase;
}

.nav .link.services a {
  color: #1F1DAC;
}

.links {
  margin: 0;
  padding: 0;
}

.title-container {
  float: left;
  margin: 268px 0px 490px 88px;
}

.title {
  width: 200px;
}

h1 {
  font-family: Gotham-Black, 'Gotham Black', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1.name {
  font-size: 70px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.kern {
   letter-spacing: 0.05em;
}

.kernless {
   letter-spacing: -0.1em;
}

.kernmore {
   letter-spacing: 0.03em;
}


h2 {
  font-family: Gotham-Book, 'Gotham Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

h2.occupation {
  line-height: 28px;
  margin: 24px 0 0 0; 
}

.floater {
  background-image: url("new_assets/arrow.png");
  background-repeat: no-repeat;
  background-size: 20px 28px;
  float: right;
  margin-right: 15%;
  margin-top: 30%;
  padding-left: 40px;
}

.floater {
  font-family: 'Gotham-Book', 'Avenir Black', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
}

.story-container {
  margin: 0;
  padding: 0;
  text-align: center;
}

.story {
  color: #1f1dac;
  margin: 0 auto;
  max-width: 896px;
  padding: 137px 0 0 0;
  text-align: left;
}

.story h3 {
  font-family: Gotham-Medium, 'Gotham Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 55px;
  line-height: 64px;
  margin: 0;
  padding: 0;
}

.story h5 {
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 48px;
}

.story h4 {
  font-family: Gotham-Medium, 'Gotham Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 42px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.story p {
  font-family: Gotham-Light, 'Gotham Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
  margin: 40px 0 0 0;
  padding: 0;
}

.chapter {
  overflow: hidden;
  text-align: left;
}

.chapter.odd {
  text-align: right;
}

.chapter.odd .chapter-text {
  float: right;
}

.chapter.two .chapter-text {
  max-width: 340px;
}

.chapter-text {
  max-width: 325px;
  text-align: left;
}

.story .one {
  background: transparent url("assets/Binoculars.gif") no-repeat left top;
  margin-top: 130px;
}

.story .two {
  background: transparent url("assets/Compass.gif") no-repeat right top;
  margin-top: 200px;
  background-size: 405px 342px
}

.story .epilog {
  margin-top: 153px;
}

.footer {
  color: #1F1DAC;
  font-family: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-top: 130px;
  padding-bottom: 39px;
  text-align: center;
}

.book {
  background-color: #1F1DAC;
  display: inline-block;
  font-family: 'Gotham-Bold', 'Gotham-Black', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
  margin: 0;
  padding: 30px;
  text-transform: uppercase;
}

a.book {
  color: #fff;
}

.footer .contact {
  margin-top: 111px;
  color: #1F1DAC;
}

.footer .contact li {
  background-position: top center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 182px;
  color: #1F1DAC;
}

.footer .contact li a {
  display: inline-block;
  padding-top: 90px;
  color: #1F1DAC;
}

.footer .contact li.last {
  margin-right: 0px;
  color: #1F1DAC;
}

.mail {
  background-image: url("assets/mail.png");
}

.phone {
  background-image: url("assets/phone.png");
}

.map {
  background-image: url("assets/pin.png");
}

.copyright {
  font-family: 'Gotham-Bold';
  font-size: 16px;
  font-weight: bold;
  margin-top: 75px;
  text-transform: uppercase;
  
}
